body {
 
   background-image: url("https://github.com/diabloexodia/Certificates/raw/main/bg.jpg");


}
h1 {
   text-align: center;
  color: #8A2BE2;
     font-family:  "Times",Serif;
 
 font-size:10vw;
 background-color:#8A2BE2,opacity=0.5;
 

}
.class{
 text-align:center;
}
.fa {
  padding: 10px;
  font-size: 50px;
  text-align: center;
  text-decoration: none;

}
 /* Add a hover effect if you want */
.fa:hover {
  opacity: 0.5;
} 
.pngbg{
 background-color:#000000;
}
.card { text-align:right;
  box-shadow: 0 4px 8px 0 rgba(0,255,0,1);
  transition: 0.3s;
  width: 20%;
  float: right;
  background:#FFF0F5;
  border-radius:25px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(255,0,0,1);
}

.container {
  padding: 2px 16px;
}

