body {
 
   background-image: url("https://github.com/diabloexodia/Certificates/raw/main/bg.jpg");


}
h1 {
   text-align: center;
  color: #8A2BE2;
     font-family:  "Courier New", Monospace;
 
 font-size:10vw;
 background-color:#8A2BE2,opacity=0.5;
 

}
.class{
 text-align:right;
}
.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 35%;
}
 /* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
} 
.fa-instagram {
  background: #125688;
  color: #F8F8FF;
 align: right;
}
.fa-youtube {
  background: #bb0000;
  color: #F8F8FF;
 align: right;
}
.fa-pinterest {
  background: #cb2027;
  color: #F8F8FF;
 align: right;
}
